<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LEARN Freak</title>
</head>

<body>
    <!DOCTYPE html>
    <html>

    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
        <meta charset="utf-8">
        <title>20160724171454</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://peraichi.com/template_files/css/bootstrap_custom.css" rel="stylesheet">
        <link href="https://peraichi.com/template_files/css/style.css" rel="stylesheet">
        <link href="https://peraichi.com/css/magnific-popup.css" rel="stylesheet">
        <link href="https://peraichi.com/css/embedly_responsive.css" rel="stylesheet" media="screen">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="//peraichi.com/js/const_common.js"></script>
        <script src="//peraichi.com/js/const_production.js"></script>
        <script src="//peraichi.com/js/peraichi.js"></script>
        <script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
        <meta property="og:image" content="https://s3-ap-northeast-1.amazonaws.com/s3.peraichi.com/userData/57932859-022c-46f6-8fa1-2ac50a00003f/ogp/67354.png">
    </head>

    <body data-template-name="simple-service" style="padding-top: 64px; overflow: auto;" class="ver2">
        <div class="pera1-section section s_navigation_fixed" data-section-id="branding-s_navigation_txt_fixed" data-section-name="ナビゲーション・テキスト(上部に固定)" id="section-7">
            <div class="pera1-editable m_navigation" data-pera1-type="navigation" data-bgcolor="#ffffff" style="text-align: left; background-color: rgb(255, 255, 255);">
                <div class="navigationHeader">
                    <h1 class="navigationTitle font-size-22px pera1-editable pera1-removable">LEARN FREAK</h1>
                    <div class="btn_navigationToggle"><i></i></div>
                </div>
                <ul class="m_navigationMenu" data-textcolor="#333" style="color: rgb(51, 51, 51);">
                    <li><a href="#section-8" target="_self">特徴</a></li>
                    <li><a href="#section-9" target="_self">こんな人にオススメ</a></li>
                </ul>
            </div>
        </div>
        <div class="pera1-section section s_hero" data-section-id="branding-s_hero" data-section-name="トップメイン" id="section-1">
            <div class="m_hero pera1-bg-editable" data-bg-key="0" style="background-image: url('img/topimg.jpg')" ; background-size: cover; background-position: center center; background-repeat: no-repeat; ">
                <div class="hero_ctt ">
                    <h1 class="e_head pera1-editable pera1-removable "><div style="text-align: center; " data-mce-style="text-align: center; ">LEARN FREAK</div></h1>
                    <div class="e_txt pera1-editable pera1-removable ">
                        <div style="text-align: center; " data-mce-style="text-align: center; ">明日の授業で使える、受講生の学び合いを促すwebサービス</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section s_txt pera1-section " data-section-id="simple/s_simple_txt " data-section-name="テキスト " id="section-6 ">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="e_txt pera1-editable ">
                            <div style="text-align: center; " data-mce-style="text-align: center; ">
                                <br>
                                <br>LEARN FREAKは、
                                <br>先生の事前準備にかかる手間はほとんど無しで、
                                <br>授業中の受講生同士の学び合いを支援するwebサービスです。
                                <br>Learn FRom EAch Knowledgeの頭文字と、
                                <br>「熱狂的ファン」を意味するフリークを掛け合わせ、</div>
                            <div style="text-align: center; " data-mce-style="text-align: center; ">「全ての人が授業の学びに参加し、夢中になって学ぶセカイ」
                                <br>を実現したいという想いを込めています。
                                <br>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section s_txt pera1-section " data-section-id="simple/s_simple_txt " data-section-name="テキスト " id="section-8 ">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="e_txt pera1-editable font-size-32px ">
                            <div style="text-align: center; " data-mce-style="text-align: center; ">特徴
                                <br>FEATURE</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pera1-section section s_card-topImg-3col " data-section-id="branding-s_card_topImg_3col " data-section-name="上画像（3列） " id="section-2 ">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-sm-4 ">
                        <div class="m_card-topImg ">
                            <p class="e_img pera1-removable "><img src="img/easy.png " class="pera1-editable "></p>
                            <h3 class="e_head text-center pera1-editable pera1-removable ">easy</h3>
                            <div class="e_txt pera1-editable pera1-removable ">
                                <p>難しい知識は一切不要。授業をする時にルームを作成するだけです。</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="m_card-topImg ">
                            <p class="e_img pera1-removable "><img src="img/facilitate.png " class="pera1-editable "></p>
                            <h3 class="e_head text-center pera1-editable pera1-removable ">facilitate</h3>
                            <div class="e_txt pera1-editable pera1-removable ">利用の際は先生から一人指名で、授業内容をそのまま投稿したり。コメントを促したり、学びを深めたりするファシリテーター役を用意します。</div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="m_card-topImg ">
                            <p class="e_img pera1-removable "><img src="img/visualize.png " class="pera1-editable "></p>
                            <h3 class="e_head text-center pera1-editable pera1-removable ">visualize</h3>
                            <div class="e_txt pera1-editable pera1-removable ">発言者、回数をグラフで示すことにより、
                                <br>受講生の場への貢献度をわかりやすく可視化します。</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pera1-section section s_card-leftImg-middle " data-section-id="branding-s_card_leftImg_middle " data-section-name="左画像（1列）テキスト中央 " id="section-3 ">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="m_card-leftImg-middle ">
                            <p class="e_img "><img src="img/multidevise.jpg " class="img-full pera1-editable "></p>
                            <div class="card-leftImg-middle_ctt ">
                                <h3 class="e_head pera1-editable pera1-removable ">タブレット、スマートフォン、PCに対応</h3>
                                <div class="e_txt pera1-editable pera1-removable ">
                                    <br data-mce-bogus="1 ">
                                </div>
                                <p class="e_btn "></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section s_txt pera1-section " data-section-id="simple/s_simple_txt " data-section-name="テキスト " id="section-9 ">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="e_txt pera1-editable font-size-36px ">
                            <div style="text-align: center; " data-mce-style="text-align: center; ">
                                <br>こんな人にオススメ
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section s_txt pera1-section " data-section-id="branding-s_txt " data-section-name="テキスト " id="section-4 ">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="e_txt pera1-editable font-size-40px ">
                            <div style="text-align: center; " data-mce-style="text-align: center; ">
                                <br>
                                <ol>
                                    <li>新しいスタイルの授業をしたい大学の若手教授</li>
                                    <li>専門学校の先生</li>
                                    <li>ICT主任に選ばれた高校の先生</li>
                                </ol>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section s_btn-large pera1-section " data-section-id="branding-s_btn_large " data-section-name="ボタン（大） " id="section-5 ">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <p class="e_btn "><a href="http://realtimeweb.sakura.ne.jp/LearnFREAK/index.html " class="btn btn-primary btn-large pera1-editable " target="_self ">試してみる</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pera1-section section s_footer-peraichi-fix ">
            <div class="container-fluid ">
                <div class="e_txt pera1-editable ">Copyright 2016 Educreate</div>
            </div>
        </div>
        <script id="tmpl_nav " type="text/x-template ">
            <ul class="nav nav-pills nav-stacked ">
                <% _.each(sections, function(section) { %>
                    <li>
                        <a href="#<%=s ection.id %>">
                <%= section.name %>
                    </a>
                    </li>
                    <% }) %>
                        </ul>
                        </script>
                        <script id="template_html" type="text/x-template"></script>
                        <p id="footer-created" class="">
                        </p>
                        <script>
                            (function () {
                                var bodyH = document.body.clientHeight;
                                var winH = window.innerHeight;
                                var $created = document.getElementById("footer-created");
                                window.onscroll = function () {
                                    var scrolled = document.documentElement.scrollTop || document.body.scrollTop;
                                    if (scrolled > bodyH - (3 * winH)) {
                                        $created.className = "show";
                                    } else {
                                        $created.className = "";
                                    }
                                };
                            })();
                        </script>
    </body>

    </html>

</body>

</html>
